/* 
    Created on : 25/02/2020, 02:44:06 PM
    Author     : MediaCode S.A.S. <info@mediacode.co>
    File       : _globals.scss
*/

body {
  // ...do stuffs

  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: color(default);
}
